<!doctype html>
<html lang="en">
<head>
    <title>Toggl UI Beta</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>
<body>

<div class="container">
    <h1>Toggl FastAdd</h1>
    <p class="lead">Fast adding toggl entries for bussy guys ;-)</p>

    <div class="row">
        <div class="alert hide" role="alert"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="apiToken">API TOKEN</label>
                <input type="text" class="form-control" id="apiToken" name="api_token" aria-describedby="apiTokenHelp" placeholder="Enter API TOKEN" required="required">
                <small id="apiTokenHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="workspaceId">Select Workspace</label>
                <select class="form-control" id="workspaceId" name="wid" required="required"></select>
            </div>

            <div class="form-group">
                <label for="projectId">Select Project</label>
                <select class="form-control" id="projectId" name="pid" required="required"></select>
            </div>
            <div class="form-group">
                <label for="entryTimeZone">Timezone</label>
                <input class="form-control" type="text" value="Europe/Warsaw" id="entryTimeZone" name="tz" required="required">
            </div>

            <div class="form-group">
                <label for="entryStartDate">Start</label>
                <div class="input-group date" id="entryStartDateGroup">
                    <input class="form-control" type="text" placeholder="YYYY-MM-DD HH:MM" id="entryStartDate" name="start" required="required">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="entryEndDate">End</label>
                <div class="input-group date" id="entryEndDateGroup">
                    <input class="form-control" type="text" placeholder="YYYY-MM-DD HH:MM" id="entryEndDate" name="start">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="entryDuration">Time (h)</label>
                <input class="form-control" type="number" value="" name="duration" id="entryDuration">
            </div>
            <div class="form-group">
                <label for="entryDescription">Description</label>
                <input type="text" class="form-control" id="entryDescription" name="description" aria-describedby="entryDescriptionHelp" placeholder="Enter description">
                <small id="entryDescriptionHelp" class="form-text text-muted">Entry description.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div> <!-- /container -->
<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>